@model IEnumerable<SportsTeamManager.Models.Availability>

@{
    ViewBag.Title = "Past Availabilities";
}

<h2>Played</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Player.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Match.Opposition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Match.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Match.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Match.Time)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Player.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Match.Opposition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Match.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Match.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Match.Time)
            </td>
        </tr>
    }

</table>
<div>@Html.ActionLink("Back to Matches", "Index","Matches", null)</div>
