@model IEnumerable<SportsTeamManager.Models.Match>
@{
    ViewBag.Title = "Matches";
}
<h2>Matches</h2>
@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString")
        <input type="submit" value="Search Matches" />
    </p>
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Opposition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Competition)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Opposition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
               @item.TimeAndDate.ToString("dd MMM yyyy")
            </td>
            <td>
                @item.TimeAndDate.ToString("HH:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competition)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MatchID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MatchID }) |
                @Html.ActionLink("Availablity", "Index", "Availabilities", new { searchString = item.Date }, null)
                
            </td>
        </tr>
    }
</table>
<div>@Html.ActionLink("Past Matches", "PastMatches")</div>
